.svg { font: 11px Arial, sans-serif; }

    .cols {}
        .cols-item {}

    .axis {}
        .axis text {}
        .axis line { shape-rendering: crispedges; stroke: #000;    stroke-width: 1px; }
        .axis path { shape-rendering: crispedges; stroke: #4e534f; stroke-width: 1px; }
        
    .axis.x line { stroke: #4e534f; }

    .axis-helpers {}